.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: var(--font-size-lg);
    animation: spin 1s linear infinite;
    color: var(--text-light-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
